{% extends "ProgracqteurWikipedaleBundle::layout_admin_zone.html.twig" %}

{% block title %}{% trans %}admin.management.user_group{% endtrans %}{% endblock %}

{% block css %}
<style type="text/css">

    table.admin_list {
        
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        }
        
    table.admin_list td,
    table.admin_list th,
    table.admin_list {
        border: 1px solid black;
        vertical-align: middle;
        padding: 5px;
        }
        
    table.admin_list th{
        color: white;
        font-weight: bold;
        background-color: black;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        }
        
    table.admin_list tr:nth-child(odd){
        background-color: lightgray;
        }
        
    table.admin_list tr.disabled {
       
        }
        
    .warning {
        color: red;
        font-weight: bold;
        }
        
    
    
    </style>



{% endblock %}

{% block body %}

<h1>{% trans %}admin.user.management{% endtrans %}</h1>

<p>{% transchoice nb with {'%nb%': nb} %}admin.total_of_results{% endtranschoice %}.</p>

<form method="get" action="#">
    <input type="hidden" value="{{first}}" name="first" />
    
    <input type="text" value="{{query}}" name="q" placeholder="{% trans %}admin.usergroup.filter_your_research{% endtrans %}" />
    
    <label for="max">{% trans %}admin.number_of_results_per_page{% endtrans %}</label>
    <select name="max" >
        {% set max_values = [5, 10, 20, 30, 40, 50] %}
            {% for value in max_values %}
            <option value="{{value}}" {% if max == value %} selected="selected" {% endif %}>{{value}}</option>     
            {% endfor %}
    </select>
    
    <input type="submit" value="{% trans %}form.button.submit{% endtrans %}" />
</form>

<table class="admin_list">
    <thead>
        <th>{% trans %}user.username{% endtrans %}</th>
        <th>{% trans %}user.email{% endtrans %}</th>
        <th>{% trans %}user.label{% endtrans %}</th>
        <th>{% trans %}user.groups{% endtrans %}</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
    {% for user in users %}
            <tr class="{% spaceless%}
{% if user.locked == true %}
    locked
{% endif %}
{% if user.enabled == false %}
    disabled
{% endif %}
                
                {% endspaceless %}">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.label}}</td>
                <td>
                    {% if user.groups|length > 0 %}
                        {% for group in user.groups %}
                            <a href="{{ path('wikipedale_groups_update', {id:group.id})}}">{{group}}</a> |
                        {% endfor %}
                    {% else %}
                            {% trans %}user.is_not_member_of_any_group{% endtrans %}
                    {% endif %}
                    {% if user.locked == true %}
                        <br/>
                        <span class="warning">{{ 'admin.usergroup.user_locked' | trans }}</span>
                    {% endif %}
                    {% if user.enabled == false %}
                        <br/>
                        <span class="warning">{{ 'admin.usergroup.user_not_confirmed' | trans }}</span>
                    {% endif %}                            
                </td>
                <td>
                    <a href="{{ path('wikipedale_admin_usergroups_update', {id : user.id} ) }}">{% trans %}admin.user.add_remove_groups{% endtrans %}</a>
                    <br/>
                    <a href="{{ path('wikipedale_admin_user_show_form', {id : user.id} ) }}">{% trans %}admin.user.update_user{% endtrans %}</a>

                </td>
            </tr>
    {% endfor %}
    
    
    </tbody>
        

</table>
    

<p>{% trans %}pagination.pages{% endtrans %} </p>

<ul>
  {% if first > 0 %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': 0, 'max': max, 'q': query}) }}">Première page</a></li>
  {% endif %}

  {% if (first-max) > 0 %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first-max, 'max': max, 'q': query}) }}">Précédente</a></li>
  {% endif %}
        
  {% if (first-max*3) > 0 %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first-max*3, 'max': max, 'q': query}) }}">{{this_page-3+1}}</a></li>
  {% endif %}

  {% if (first-max*2) > 0 %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first-max*2, 'max': max, 'q': query}) }}">{{this_page-2+1}}</a></li>
  {% endif %}

  {% if (first-max) > 0 %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first-max, 'max': max, 'q': query}) }}">{{this_page-1+1}}</a></li>
  {% endif %}

    <li>{{this_page+1}}</li>

  {% if (first+max) < nb %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first+max, 'max': max, 'q': query}) }}">{{this_page+1+1}}</a></li>
  {% endif %}
  {% if (first+max*2) < nb %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first+max*2, 'max': max, 'q': query}) }}">{{this_page+2+1}}</a></li>
  {% endif %}
  {% if (first+max*3) < nb %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': first+max*3, 'max': max, 'q': query}) }}">{{this_page+3+1}}</a></li>
  {% endif %}

  {% if (first+max) < nb %}
    <li><a href="{{path('wikipedale_admin_usergroups',{'first': first+max, 'max': max, 'q': query}) }}">Suivante</a></li>
  {% endif %}

  {% if  (first+max) > nb %}
    <li><a href="{{path('wikipedale_admin_usergroups', {'first': nb_pages*max, 'max': max, 'q': query}) }}">Dernière page</a></li>
  {% endif %}

</ul>


{% endblock %}