{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block title %}{{ 'notification_subscriptions.form.title' | trans }}{% endblock %}


{% block css %}
<style type="text/css">

    form label {
        float: none;
        width: auto;
        display: inline;
        margin-right: 4px;
    }
    
    form span.notification_frequency_element label {
        margin-right: 2px;
    }
    
    form ul.notification_frequency {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    label.notification_frequency {
        font-weight: bold;
    }
    
    div.option {
        margin-bottom: 9px;
        }
    dt {
        font-weight: bold;
        }
        
    
    </style>


{% endblock %}


{% block body %}

<form method="POST" class="notification_subscription {{notification.kind}}" action="{% spaceless %}
{% if action == 'update' %}
   {{ path('wikipedale_notification_subscriptions_update', {'id' : notification.id} ) }}
      
{% elseif  action == 'create' %}
  {{ path('wikipedale_notification_subscriptions_create' ) }}

{% endif %}
      {% endspaceless %}">
      
          {% include form_template with {'form' : form} %}
      
      {{ form_rest(form) }}
 </form>
      


{% endblock %}