{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block body %}

<div id="About">
    <h2>{{ 'titles.about'|trans({}, 'about')|raw }}</h2>
    {{ 'summary'|trans({}, 'about')|raw }}
        
    <h2>{{ 'titles.licence'|trans({}, 'about')|raw }}</h2>
    <p>{{ 'licence'|trans({}, 'about')|raw }}</p>
    
    <p>{% if app.session.get('city') %}
        <a href="javascript:history.go(-1)">{{ 'titles.back'|trans({}, 'about')|raw }}</a>
    {% endif %}</p>
</div>

{% endblock %}
