<div id="div_add_new_description">
  <form method="post" action="javascript:catchForm('#new_placeForm')" id="new_placeForm">
    <input type="hidden"  name="lon" readonly="true" />
    <input  type="hidden" name="lat" readonly="true" />
    
    <fieldset id="div_new_place_form_user_mail">
        <legend><a href="#login_form_div">{{ 'AddPoint.userdata.legend1'|trans({}, 'pointMessages') }}</a> {{ 'AddPoint.userdata.legend2'|trans({}, 'pointMessages') }}</legend>
        
      <img src="{{ asset('img/verif_rien.png') }}" class="verif" id="form_informer_user_label" alt="is the field ok">
      <label>{{ 'AddPoint.userdata.name'|trans({}, 'pointMessages') }}</label>
      <input name="user_label" id="n" onblur="javascript:update_n_informer_for_form()" placeholder="{{ 'AddPoint.userdata.name_placeholder'|trans({}, 'pointMessages') }}" /><br />
        
      <img src="{{ asset('img/verif_rien.png')}}" class="verif" id="form_informer_email" alt="is the field ok">
      <label>{{ 'AddPoint.userdata.mail'|trans({}, 'pointMessages') }}</label>
      <input name="email" id="e" onblur="javascript:update_e_informer_for_form()" placeholder="{{ 'AddPoint.userdata.mail_placeholder'|trans({}, 'pointMessages') }}" /><br />

      <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_phone" alt="is the field ok">
      <label>{{ 'AddPoint.userdata.phone'|trans({}, 'pointMessages') }}</label>
      <input name="user_phonenumber" id="p" onblur="javascript:update_p_informer_for_form()" placeholder="{{ 'AddPoint.userdata.phone_placeholder'|trans({}, 'pointMessages') }}" /><br />
    </fieldset>
    
    <fieldset>
        <legend>{{ 'AddPoint.map.legend'|trans({}, 'pointMessages') }}</legend>
        <img src="{{ asset('img/AddPoint.png')}}" />
        <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_map" alt="is the field ok">
    </fieldset>


    <fieldset>
        <!-- <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_general_text" alt="is the field ok"> -->
        <legend>{{ 'AddPoint.PointData.legend'|trans({}, 'pointMessages') }}</legend>
        
      <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_lieu" alt="is the field ok">
      <label for="f_lieu" class="label_aligne">{{ 'AddPoint.PointData.location'|trans({}, 'pointMessages') }}</label> 
      <input name="lieu" id="l" maxlength="35" onblur="javascript:update_l_informer_for_form()" placeholder="{{ 'AddPoint.PointData.location_placeholder'|trans({}, 'pointMessages') }}" /><br />

      <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_categories" alt="is the field ok">
      <label>{{ 'AddPoint.PointData.categories'|trans({}, 'pointMessages') }}</label>
      <select name="categories" id="c" style="width:100%;" data-placeholder="{{ 'AddPoint.PointData.categories_placeholder'|trans({}, 'pointMessages') }}" class="chzn-select">
        {# set a value to detect changes in parent category #}
        {% set parentId = null %}
        {% for category in categories %}
          {% if parentId != category.parent.id %}
            {% if parentId is not null %}
              </optgroup>
            {% endif %}
                 
            <optgroup label="{{category.parent.hierarchicalLabel}}">
            {% set parentId = category.parent.id %}
            {% endif %}
              
          <option value="{{category.id}}">{{category.label}}</option>             
        {% endfor %}      
        </optgroup>
      </select><br />

    <img src="{{asset('img/verif_rien.png')}}" class="verif" id="form_informer_description" alt="is the field ok">
    <label>{{ 'AddPoint.PointData.description'|trans({}, 'pointMessages') }}</label> 
    <textarea id="d" name="description" rows="5" maxlength="300" onblur="javascript:update_d_informer_for_form()" placeholder="{{ 'AddPoint.PointData.description_placeholder'|trans({}, 'pointMessages') }}"></textarea>
  </fieldset>
    
    <div id="new_placeFrom_message">
    </div>
    
    <input class="envoi" id="new_place_form_submit_button" type="submit" value="{{ 'AddPoint.submit'|trans({}, 'pointMessages') }}">
    <input class="CancelButton" value="{{ 'AddPoint.cancel'|trans({}, 'pointMessages') }}" type="submit" >
  </form>
    <div style="clear:both; margin-bottom:1em;"></div>
</div>