{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block body %}

{% if (app.session.get('city') ) %}
<script language="javascript"> 
  <!--
      $(document).ready(function(){
          homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}});
	  });
  // -->
</script>





<div id="olPanelUL"></div>
<div class="clearboth"></div>

<script>
    jQuery('a.connexion').colorbox({inline:true,width:"300px", height:"300px"});

    $(document).ready(function(){
        $(".AjoutPoint").colorbox({inline:true, width:"50%"});
    });
</script>

<!-- Écran de connexion -->
<div style='display:none'>
  <div id='login_user_form_div'>
    <b><span id='login_message'></span></b><br />
    <form method="post" action="javascript:catchLoginForm()" id="loginForm">
      <label for="i_username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <input type="text" id="i_username" name="username" value="" />
      <br/><br/>
      <label for="i_password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <input type="password" id="i_password" name="password" />
      <br/><br/>
      <input type="submit" id="i_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
  </div>
</div>

<div id="MapAndEditorContener">
  <div id="map"  class="smallmap"></div>

  <div style="width:25%; height:300px; float:left; overflow:auto;">

    <div id="div_signaler">
      <form method="post" action="javascript:catchForm('#new_placeForm')" id="new_placeForm">
        <input type="hidden"  name="lon" readonly="true" />
        <input  type="hidden" name="lat" readonly="true" />
        <input name="lieu" id="l" placeholder="{{ 'add_black_points.location'|trans({}, 'FOSUserBundle') }}" />
        <textarea name="description" id="d" placeholder="{{ 'add_black_points.description'|trans({}, 'FOSUserBundle') }}"></textarea><br />
        <input name="user_label" id="n" placeholder="{{ 'add_black_points.name'|trans({}, 'FOSUserBundle') }}" />
        <input name="email" id="e" placeholder="{{ 'add_black_points.mail'|trans({}, 'FOSUserBundle') }}" />
        <input type="submit" class="send" value="{{ 'add_black_points.submit'|trans({}, 'FOSUserBundle') }}">
      </form>
      <br />
      <!--
      <p>Pour des petits travaux et des travaux d'entretien, vous pouvez contacter directement la ville via le num&eacute;ro gratuit 0800 92 329 ou via <a href="mailto:travaux.vert@ville.mons.be">travaux.vert@ville.mons.be</a> (<a href="http://www.mons.be/default.aspx?GUID={BF4FA10D-9842-11DA-9742-0002A58CB319}&LNG=FRA" target="_blank">mons.be</a>)</p>
      <b>Aide :</b>
      <ul>
        <li>Un point noir est quelque chose qui pose probl&egrave;me &agrave; la pratique id&eacute;ale du v&eacute;lo ;  
            ça peut &ecirc;tre une bordure non abaiss&eacute;e, une piste cyclable mal entretenue, un feu mal synchronis&eacute;, ...
        <li>Pour nous signaler un point noir, indiquez sur la carte o&ugrave; se trouve ce point noir, remplissez le formulaire et cliquez sur "soumettre". Merci.
      </ul> -->                   
    </div>

    <div id="div_placeDetails" style="display:none;"> 
      <h1>#<span class="span_id"></span></h1>	
      <p id="span_lieu"></p>
      
      <p class="creator">{{ 'display_black_points.author'|trans({}, 'FOSUserBundle') }} <span class="span_creator"></span> :</p>
      <div class="clearboth"></div>
      <div id="QuotationBegin"></div>
      <p id="span_description"></p>
      
      <p><span class="span_photo"></span><a href="#" class="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'FOSUserBundle') }}"><img src='../img/AddPicture.png' /></a></p>

      <span class='span_nbVote'></span> votes      
      <span class="span_nbComm"></span> {{ 'display_black_points.comments'|trans({}, 'FOSUserBundle') }}<br />
    </div>

    <div id="div_placeEdit" style="margin-left:15px;display:none;background: white;"> 
      <center><h1>&Eacute;dition - point noir <span class="span_id"></span></h1></center>
      <strong><a id="link_delete" href="#">Supprimer le point noir</a><strong><br />
      <strong>Photos (<a href="#" class="link_add_photo">Ajouter</a>)</strong> : <span class="span_photo"></span><br />
      <strong>Nbr. de commentaires</strong> : <span class="span_nbComm"></span><br />
      <strong>Nbr. de votes</strong> : <span class="span_nbVote"></span><br />
      <strong>Cr&eacute;ateur</strong> : <br />
      <br />
      <strong>Contact</strong> : <span id="span_user_label"></span><br />
      <strong>Mail</strong> : <span id="span_email"></span><br />
      <br />
      <form method="post" action="javascript:catchForm('#editForm')" name="f" id="editForm">
        <input type ="hidden" value="" id="f_id" name="id" />
        <p class="p_form">
          <label for="f_lieu" class="label_aligne"><strong>Lieu</ strong> : </label> 
          <input name="lieu"  id="f_lieu" size=42 />
        </p>
        <p class="p_form">
          <label for="f_description" class="label_aligne"><strong>Description</strong> :</label>
          <textarea name="description" id="f_description" cols=35 rows=5></textarea>
        </p>
        <p class="p_form">
          <label for="c" class="label_aligne"><strong>Couleur</strong> :</label>
          TODO
        </p>
        <p class="p_form" id="message_erreur" style="display:none">
          <span style="margin-left:100px; background-color:red;">Veuillez vous <a href="connexion.php" target="_blank">connecter</a> pour enregistrer la modification.</span>
        </p>
        <p class="p_form">
          <span style="padding-left:100px;"><input type="submit" value="&Eacute;diter"></span>
        </p>
      </form>
    </div>

  </div>
</div>
{% else %}

<div id="BoiteChoixVille">

    <select id="Cities_dhtmlx">
    {% for city in cities %}
            <option value="{{city.slug}}">{{city.name}}</option>
    {% endfor %}
    </select>
    
    <script>
        var z = dhtmlXComboFromSelect("Cities_dhtmlx");
        z.enableFilteringMode(true);
    </script>

    <ul id="VillesSelection">
    {% for city in mainCities %}

            <li><a href="{{ path('wikipedale_to_city', {'citySlug': city.slug})}}"> {{city.name}}</a></li>

    {% endfor %}
    </ul>
        
</div>

{% endif %}

{% endblock %}
