{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}


{% block javascript %}

<script language="javascript"> 
 <!--
    // color box for connexion
    $(document).ready(function(){
        jQuery('a.connexion').colorbox({
        inline:true,
        width:"300px",
        height:"300px",
        onComplete: function(){ $("#i_username").focus(); }
        });


    {% if (app.session.get('city') ) %}

      {% if goToPlaceId is defined %}
        // map and display place with id
        homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},{{goToPlaceId}});
      {% else %}
        // map and explore
        homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},null);
      {% endif %}


      // chosen (for categories)
      $(".chzn-select").chosen();
        /* $('#mv').prop('selected', true);
        // $(".chzn-select").trigger('liszt:updated'); (pour selectionner mv) */
    {% else %}


    var z = dhtmlXComboFromSelect("Cities_dhtmlx");
    z.enableFilteringMode(true);

    {% endif %}

    });
      
    // security
    {% render "ProgracqteurWikipedaleBundle:Token:insertTokens" with {'number':15} %}
// -->
</script>
{% endblock %}


{% block body %}
<!-- Écran de connexion -->
<div style='display:none'>
  <div id='login_user_form_div'>
    <b><font color="red"><span id='login_message'></span></font></b><br />
    <form method="post" action="javascript:catchLoginForm()" id="loginForm">
      <label for="i_username">{{ 'security.login.username'|trans({}, 'userMessages') }}</label>
      <input type="text" id="i_username" name="username" value="" />
      <br/><br/>
      <label for="i_password">{{ 'security.login.password'|trans({}, 'userMessages') }}</label>
      <input type="password" id="i_password" name="password" />
      <br/><br/>
      <input type="submit" id="i_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'userMessages') }}" />
    </form>
  </div>
</div>

{% if (app.session.get('city') ) %}
<div id="MapAndEditorContener">
  <div id="map"  class="smallmap" style="width:40%"></div>

  <div id="ToolsPanel">

    <div id="olPanelUL"></div>

    <div id="div_signaler">
      <span class="instructions">
        <img src="../img/verif_rien.png" class="verif" id="form_informer_map" alt="is the field ok">
        {{ 'instructions.add_point1'|trans({}, 'changes') }}
      </span>

      <span class="instructions">
      {{ 'instructions.add_point2'|trans({}, 'changes') }}</span>
      
      <form method="post" action="javascript:catchForm('#new_placeForm')" id="new_placeForm">
        <input type="hidden"  name="lon" readonly="true" />
        <input  type="hidden" name="lat" readonly="true" />

        <p><img src="../img/verif_rien.png" class="verif" id="form_informer_lieu" alt="is the field ok">
        <label for="f_lieu" class="label_aligne">{{ 'add_black_points.location'|trans({}, 'changes') }}</label> 
        <input name="lieu" id="l" maxlength="35" onblur="javascript:update_l_informer_for_form()" /></p>

        <p><img src="../img/verif_rien.png" class="verif" id="form_informer_categories" alt="is the field ok">
        <label>{{ 'add_black_points.categories'|trans({}, 'changes') }}</label>
        <select name="categories" id="c" style="width:350px;" data-placeholder="" class="chzn-select" multiple tabindex="6" onblur="javascript:update_d_informer_for_form()">
        {# set a value to detect changes in parent category #}
        {% set parentId = null %}
        {% for category in categories %}
              {% if parentId != category.parent.id %}
                 {% if parentId is not null %}
                    </optgroup>
                 {% endif %}
                 
                 <optgroup label="{{category.parent.label}}">
                 {% set parentId = category.parent.id %}
              {% endif %}
              
              <option value="{{category.id}}">{{category.label}}</option>
                       
        {% endfor %}      
                     </optgroup>
      </select></p>

        <label>{{ 'add_black_points.description'|trans({}, 'changes') }}</label> 
        <textarea name="description" maxlength="150" onblur="javascript:update_d_informer_for_form()"></textarea><br />
        
        <div id="div_new_place_form_user_mail">
        <img src="../img/verif_rien.png" class="verif" id="form_informer_user_label" alt="is the field ok" height="15" width="15">
        <label>{{ 'add_black_points.name'|trans({}, 'changes') }}</label>
        <input name="user_label" id="n" onblur="javascript:update_n_informer_for_form()" />
        
        <img src="../img/verif_rien.png" class="verif" id="form_informer_email" alt="is the field ok" height="15" width="15">
        <label>{{ 'add_black_points.mail'|trans({}, 'changes') }}</label>
        <input name="email" id="e" onblur="javascript:update_e_informer_for_form()" />
        
        </div>
        <div id="new_placeFrom_message"></div>
        <input id="new_place_form_submit_button" type="submit" class="send" value="{{ 'add_black_points.submit'|trans({}, 'changes') }}"><br />
      </form>                
    </div>

    <div id="div_placeDetails" style="display:none;">
      <p class="PointTitle">#<span class="span_id"></span> <span id="span_lieu"></span></p>
      
      <div class="PointDescription">
          <p class="creator">{{ 'display_black_points.author'|trans({}, 'changes') }} <a href="#"><span class="span_creator"></span></a> :</p>
        <div class="clearboth"></div>
        <span class="QuotationBegin"></span><p class="p_description"><span id="span_description"></span></p>

        <span class="span_photo"></span><a href="#" class="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'changes') }}"><img src='../img/AddPicture.png' /></a>

        <!-- <span class='span_nbVote'></span> votes      
        <span class="span_nbComm"></span> {{ 'display_black_points.comments'|trans({}, 'changes') }} -->
      </div>
    </div>

    <div id="div_placeEdit" style="display:none;">
        <p class="PointTitle">#<span class="span_id"></span> <span id="span_lieu"></span></p>
        
        <div class="PointDescription">
            <a id="link_delete" href="#"><img class="SupprimerPoint" src="../img/corbeille.png" alt="Supprimer le signalement" title="Supprimer le signalement" /></a>   
        <p>Constat effectué par: <span id="span_user_label"></span> (<a href="mailto:<span id='span_email'></span>"><span id="span_email"></span></a>)</p>

      <form method="post" action="javascript:catchForm('#editForm')" name="f" id="editForm">
        <input type ="hidden" value="" id="f_id" name="id" />

          <label for="f_lieu" class="label_aligne">Localisation exacte du problème</label> 
          <input name="lieu"  id="f_lieu" />

          <label for="f_description" class="label_aligne">Description détaillée</label>
          <textarea name="description" id="f_description" cols=35 rows=5></textarea>
          
          <p><span class="span_photo"></span><a href="#" class="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'changes') }}"><img src='../img/AddPicture.png' /></a></p>

          <label for="c" class="label_aligne" style="display:inline;">Status</label>
          <select id="f_couleur">
              <option class="status-1" value="-1">rejeté</option>
              <option class="status0" value="0">blanc</option>
              <option class="status1" value="1">rouge</option>
              <option class="status2" value="2">orange</option>
              <option class="status3" value="3">vert</option>
              <option class="status4" value="4">noir</option>
          </select>
          
      <!-- <strong>Nbr. de commentaires</strong> : <span class="span_nbComm"></span><br />
      <strong>Nbr. de votes</strong> : <span class="span_nbVote"></span> -->
          
        <p class="p_form" id="message_erreur" style="display:none">
          <span style="margin-left:100px; background-color:red;">Veuillez vous <a href="#login_user_form_div" target="_blank">connecter</a> pour enregistrer la modification.</span>
        </p>
          <p><input class="send" type="submit" value="Sauvegarder les modifications"><br /></p>
      </form>
      </div>
    </div>

  </div>
</div>
{% else %}

<div id="accueil">
    <div id="accueil-texte">
    <img src="../img/logos/logo_uello_300.png" />
    <h1>
        <span style="color:#008000;">{{ 'accueil.assoc'|trans({}, 'messages') }}</span>
        {{ 'accueil.accroche'|trans({}, 'messages') }}
    </h1>
    <ul>
        {% for city in mainCities %}
        <li><a href="{{ path('wikipedale_to_city', {'citySlug': city.slug})}}">{{city.name}}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>

<!--
<div id="About">
    {{ 'summary'|trans({}, 'about')|raw }}
</div>

<div id="BoiteChoixVille">

    <select id="Cities_dhtmlx">
    {% for city in cities %}
            <option value="{{city.slug}}">{{city.name}}</option>
    {% endfor %}
    </select>

    <ul id="VillesSelection">
    {% for city in mainCities %}

            <li><a href="{{ path('wikipedale_to_city', {'citySlug': city.slug})}}">
                <img src="../img/cities/{{city.name}}.png" /><br />{{city.name}}</a></li>

    {% endfor %}
    </ul>
        
</div>
-->

{% endif %}

{% endblock %}
