{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}



{# 

Params passed by the controller to this template :

 'mainCities' (empty if the user has chosen a city) 
         array of Progracqteur\WikipedaleBundle\Entity\Management\Zone
 'cities'  (empty if the user has chosen a city) 
         array of Progracqteur\WikipedaleBundle\Entity\Management\Zone
 'categories' 
         array of Progracqteur\WikipedaleBundle\Entity\Model\Category
 'placeTypes' 
         array of Progracqteur\WikipedaleBundle\Entity\Model\Place\PlaceType
 'managers' (empty if the user has NOT chosen a city)
         array of Progracqteur\WikipedaleBundle\Entity\Management\Group

#}

{% block javascript %}

<script language="javascript"> 
 <!--
    web_dir2 = "{{ asset('js') }}"; // pour remplacer web_dir mais faudrait asset('js') qui ne marche pas
    console.log(web_dir);
    console.log(web_dir2);

    // color box for connexion
    $(document).ready(function(){
        jQuery('a.connexion').colorbox({
        inline:true,
        width:"400px",
        height:"400px",
        onComplete: function(){ $("#login_input_username").focus(); }
        });


    {% if (app.session.get('city') ) %}

      {% if goToPlaceId is defined %}
        // map and display place with id
        homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},{{goToPlaceId}});
      {% else %}
        // map and explore
        homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},null);
      {% endif %}


      // chosen (for categories)
      $(".chzn-select").chosen().change(update_c_informer_for_form);

      $("#optionsAffichageCategories").select2();
      $('#optionsAffichageCategories').select2("disable");

      $("#optionsAffichagePlaceTypes").select2();
      $('#optionsAffichagePlaceTypes').select2("disable");

      $('#span_place_description_cat_edit').select2();
      $('#span_place_description_status_edit').select2();
      $('#span_place_description_type_edit').select2();
      $('#span_place_description_gestionaire_edit').select2();

      $('#optionsAffichageCategories').on("change", function(e) { display_only_markers_with_selected_categories(); });
      $('#optionsAffichagePlaceTypes').on("change", function(e) { display_only_markers_with_selected_categories(); });
        /* $('#mv').prop('selected', true);
        // $(".chzn-select").trigger('liszt:updated'); (pour selectionner mv) */
    {% else %}


    /*
    var z = dhtmlXComboFromSelect("Cities_dhtmlx");
    z.enableFilteringMode(true);
    */

    {% endif %}

    });
      
    // security
    {% render "ProgracqteurWikipedaleBundle:Token:insertTokens" with {'number':15} %}
// -->
</script>
{% endblock %}


{% block body %}
  <!-- Écran de connexion -->
  <div style='display:none'>
    <div id='login_form_div'>
      <b><font color="red"><span id='login_message'></span></font></b><br />
      <form method="post" action="javascript:catchLoginForm()" id="loginForm">
          
        <p><label for="login_input_username">{{ 'security.login.username'|trans({}, 'userMessages') }}</label>
        <input type="text" id="login_input_username" name="username"/></p>

        <p><label for="login_input_password">{{ 'security.login.password'|trans({}, 'userMessages') }}</label>
        <input type="password" id="login_input_password" name="password"/></p>

        <input class="envoi" type="submit" id="login_input_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'userMessages') }}" />
      </form>

      <div style="clear:both;"></div>
      <p><a href="{{ path('fos_user_registration_register') }}">{{ 'security.login.go_to_registration'|trans({}, 'userMessages') }}</a><br />
      <a href="{{path('fos_user_resetting_request') }}">{{ 'security.login.go_to_password_resetting'|trans({}, 'userMessages') }}</a></p>

    </div>
  </div>

  {% if (app.session.get('city') ) %}
    {% include "ProgracqteurWikipedaleBundle:Default:map.html.twig" %}
  {% else %}
    {% include "ProgracqteurWikipedaleBundle:Default:accueil.html.twig" %}
  {% endif %}
{% endblock %}
