{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block body %}

<script>
    jQuery('a.connexion').colorbox({
        inline:true,
        width:"300px",
        height:"300px",
        onComplete: function(){ $("#i_username").focus(); }
      });
      
      {% render "ProgracqteurWikipedaleBundle:Token:insertTokens" with {'number':15} %}
</script>

<!-- Écran de connexion -->
<div style='display:none'>
  <div id='login_user_form_div'>
    <b><font color="red"><span id='login_message'></span></font></b><br />
    <form method="post" action="javascript:catchLoginForm()" id="loginForm">
      <label for="i_username">{{ 'security.login.username'|trans({}, 'userMessages') }}</label>
      <input type="text" id="i_username" name="username" value="" />
      <br/><br/>
      <label for="i_password">{{ 'security.login.password'|trans({}, 'userMessages') }}</label>
      <input type="password" id="i_password" name="password" />
      <br/><br/>
      <input type="submit" id="i_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'userMessages') }}" />
    </form>
  </div>
</div>

{% if (app.session.get('city') ) %}
<script language="javascript"> 
 <!--
  {% if goToPlaceId is defined %}
  $(document).ready(function(){
          homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},{{goToPlaceId}});
    });
  {% else %}
    $(document).ready(function(){
          homepageMap('{{ app.session.get('city').name }}', {{app.session.get('city').center.lon}}, {{app.session.get('city').center.lat}},null);
    });
  // -->
</script>
 {% endif %}

<script>
    $(document).ready(function(){
        $(".AjoutPoint").colorbox({inline:true, width:"50%"});
        $(".About").colorbox({inline:true, width:"50%"});
    });
</script>

<div id="MapAndEditorContener">
  <div id="map"  class="smallmap"></div>

  <div id="ToolsPanel">

    <div id="olPanelUL"></div>

    <div id="div_signaler">
      <span class="instructions">
        <img src="../img/form_rond.jpg" id="form_informer_map" alt="is the field ok" height="20" width="20">
        {{ 'instructions.add_point1'|trans({}, 'changes') }}
      </span>

      <span class="instructions">
      <img src="../img/form_rond.jpg" id="form_informer_general_text" alt="is the field ok" height="20" width="20">
      {{ 'instructions.add_point2'|trans({}, 'changes') }}</span>
      
      <form method="post" action="javascript:catchForm('#new_placeForm')" id="new_placeForm">
        <input type="hidden"  name="lon" readonly="true" />
        <input  type="hidden" name="lat" readonly="true" />
        <img src="../img/form_rond.jpg" id="form_informer_lieu" alt="is the field ok" height="15" width="15">
           <input name="lieu" id="l" maxlength="35" placeholder="{{ 'add_black_points.location'|trans({}, 'changes') }}" onblur="javascript:update_l_informer_for_form()" />
        <img src="../img/form_rond.jpg" id="form_informer_description" alt="is the field ok" height="15" width="15">
           <textarea name="description" id="d" maxlength="150" placeholder="{{ 'add_black_points.description'|trans({}, 'changes') }}" onblur="javascript:update_d_informer_for_form()"></textarea><br />


      <select data-placeholder="Cat&eacute;gorie" style="width:300px;" class="chzn-select" multiple tabindex="6">
        {# set a value to detect changes in parent category #}
        {% set parentId = null %}
        {% for category in categories %}
              {% if parentId != category.parent.id %}
                 {% if parentId is not null %}
                    </optgroup>
                 {% endif %}
                 
                 <optgroup label="{{category.parent.label}}">
                 {% set parentId = category.parent.id %}
              {% endif %}
              
              <option value="{{category.id}}">{{category.label}}</option>
                       
        {% endfor %}      
      
      </select>

        <script type="text/javascript">
          $(".chzn-select").chosen();
          // $('#mv').prop('selected', true);
          // $(".chzn-select").trigger('liszt:updated'); (pour selectionner mv)
      </script>


        <div id="div_new_place_form_user_mail">
        <img src="../img/form_rond.jpg" id="form_informer_user_label" alt="is the field ok" height="15" width="15">
           <input name="user_label" id="n" placeholder="{{ 'add_black_points.name'|trans({}, 'changes') }}" onblur="javascript:update_n_informer_for_form()" />
        <img src="../img/form_rond.jpg" id="form_informer_email" alt="is the field ok" height="15" width="15">
           <input name="email" id="e" placeholder="{{ 'add_black_points.mail'|trans({}, 'changes') }}" onblur="javascript:update_e_informer_for_form()" />
        </div>
        <div id="new_placeFrom_message"></div>
        <input id="new_place_form_submit_button" type="submit" class="send" value="{{ 'add_black_points.submit'|trans({}, 'changes') }}">
      </form>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <!--
      <p>Pour des petits travaux et des travaux d'entretien, vous pouvez contacter directement la ville via le num&eacute;ro gratuit 0800 92 329 ou via <a href="mailto:travaux.vert@ville.mons.be">travaux.vert@ville.mons.be</a> (<a href="http://www.mons.be/default.aspx?GUID={BF4FA10D-9842-11DA-9742-0002A58CB319}&LNG=FRA" target="_blank">mons.be</a>)</p>
      <b>Aide :</b>
      <ul>
        <li>Un point noir est quelque chose qui pose probl&egrave;me &agrave; la pratique id&eacute;ale du v&eacute;lo ;  
            ça peut &ecirc;tre une bordure non abaiss&eacute;e, une piste cyclable mal entretenue, un feu mal synchronis&eacute;, ...
        <li>Pour nous signaler un point noir, indiquez sur la carte o&ugrave; se trouve ce point noir, remplissez le formulaire et cliquez sur "soumettre". Merci.
      </ul> -->                   
    </div>

    <div id="div_placeDetails" style="display:none;">
      <p class="PointTitle">#<span class="span_id"></span> <span id="span_lieu"></span></p>
      
      <div class="PointDescription">
          <p class="creator">{{ 'display_black_points.author'|trans({}, 'changes') }} <a href="#"><span class="span_creator"></span></a> :</p>
        <div class="clearboth"></div>
        <span class="QuotationBegin"></span><p class="p_description"><span id="span_description"></span> <a href="#">Modifier</a></p>

        <span class="span_photo"></span><a href="#" class="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'changes') }}"><img src='../img/AddPicture.png' /></a>

        <!-- <span class='span_nbVote'></span> votes      
        <span class="span_nbComm"></span> {{ 'display_black_points.comments'|trans({}, 'changes') }} -->
        
        <div class="solutions">
            <div class="solution">
                <span class="SolutionTitle">Solution 1 : Lorem ipsum dolor sit amet</span>
                <p class="SolutionAuthor">Propos&eacute;e par <a href="#">Michel</a></p>
                <div class="SolutionVote">
                    <span class="SolutionVotingNumber">18</span><br />
                    <a href="#" class="PositiveVote"><img src='../img/PositiveVote.png' /></a>
                    <a href="#" class="NegativeVote"><img src='../img/NegativeVote.png' /></a>
                </div>
                <p class="SolutionDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">Afficher la suite</a></p>
            </div>

            <div class="solution">
                <span class="SolutionTitle">Solution 2 : Mauris at turpis id sapien...</span>
                <p class="SolutionAuthor">Propos&eacute;e par <a href="#">Robert</a></p>
                <div class="SolutionVote">
                    <span class="SolutionVotingNumber">5</span><br />
                    <a href="#" class="PositiveVote"><img src='../img/PositiveVote.png' /></a>
                    <a href="#" class="NegativeVote"><img src='../img/NegativeVote.png' /></a>
                </div>
                <p class="SolutionDescription">Mauris at turpis id sapien consectetur consequat eu sed elit. Duis ac nulla nibh. Sed adipiscing ullamcorper neque vel tempus. <a href="#">Afficher la suite</a></p>
            </div>
            <a href="#">Voir les commentaires ou proposer une autre solution</a>
        </div>
        
      </div>
    </div>

    <div id="div_placeEdit" style="margin-left:15px;display:none;background: white;"> 
      <center><h1>&Eacute;dition - point noir <span class="span_id"></span></h1></center>
      <strong><a id="link_delete" href="#">Supprimer le point noir</a><strong><br />
      <strong>Photos (<a href="#" class="link_add_photo">Ajouter</a>)</strong> : <span class="span_photo"></span><br />
      <strong>Nbr. de commentaires</strong> : <span class="span_nbComm"></span><br />
      <strong>Nbr. de votes</strong> : <span class="span_nbVote"></span><br />
      <strong>Cr&eacute;ateur</strong> : <br />
      <br />
      <strong>Contact</strong> : <span id="span_user_label"></span><br />
      <strong>Mail</strong> : <span id="span_email"></span><br />
      <br />
      <form method="post" action="javascript:catchForm('#editForm')" name="f" id="editForm">
        <input type ="hidden" value="" id="f_id" name="id" />
        <p class="p_form">
          <label for="f_lieu" class="label_aligne"><strong>Lieu</strong> : </label> 
          <input name="lieu"  id="f_lieu" size=42 />
        </p>
        <p class="p_form">
          <label for="f_description" class="label_aligne"><strong>Description</strong> :</label>
          <textarea name="description" id="f_description" cols=35 rows=5></textarea>
        </p>
        <p class="p_form">
          <label for="c" class="label_aligne"><strong>Couleur</strong> :</label>
          TODO
        </p>
        <p class="p_form" id="message_erreur" style="display:none">
          <span style="margin-left:100px; background-color:red;">Veuillez vous <a href="#login_user_form_div" target="_blank">connecter</a> pour enregistrer la modification.</span>
        </p>
        <p class="p_form">
          <span style="padding-left:100px;"><input type="submit" value="&Eacute;diter"></span>
        </p>
      </form>
    </div>

  </div>
</div>
{% else %}

<div id="About">
    {{ 'summary'|trans({}, 'about')|raw }}
</div>

<div id="BoiteChoixVille">

    <select id="Cities_dhtmlx">
    {% for city in cities %}
            <option value="{{city.slug}}">{{city.name}}</option>
    {% endfor %}
    </select>
    
    <script>
        var z = dhtmlXComboFromSelect("Cities_dhtmlx");
        z.enableFilteringMode(true);
    </script>

    <ul id="VillesSelection">
    {% for city in mainCities %}

            <li><a href="{{ path('wikipedale_to_city', {'citySlug': city.slug})}}">
                <img src="../img/cities/{{city.name}}.png" /><br />{{city.name}}</a></li>

    {% endfor %}
    </ul>
        
</div>

{% endif %}

{% endblock %}
