<div id="MapAndEditorContener">
	<div id="map">
	</div>

 	<div id="ToolsPanel">

    <div id="div_returnNormalMode" title="Button is to be clicked" onclick="javascript:normal_mode();">Retour mode "normal"</div>

 		<div id="param_carte">
 			<div id="buttonOptionsAffichage" title="Button is to be clicked" onclick="javascript:action_buttonOptionsAffichage();">Filtrer
      les signalements</div>

 			<div id="div_options_affichage">
        <input type="checkbox" name="affichage_tous_ou_filtre_statusCeM" onClick="javascript:changeFilteringMode('StatusCeM');">
        Filtrer par couleur :
        <select style="width:100%" data-placeholder="" id="optionsAffichageStatusCeM" multiple>
          <option class="status-1" value="-1">rejeté</option>
          <option class="status0" value="0">blanc</option>
          <option class="status1" value="1">rouge</option>
          <option class="status2" value="2">orange</option>
          <option class="status3" value="3">vert</option>
        </select>

        <input type="checkbox" name="affichage_tous_ou_filtre_type" onClick="javascript:changeFilteringMode('PlaceTypes');">
        Filtrer par type :
        <select style="width:100%" data-placeholder="" id="optionsAffichagePlaceTypes" multiple>
        {% for placetype in placeTypes %}
          <option value="{{placetype.id}}">{{placetype.label}}</option>
        {% endfor %}
        </select>


        <input type="checkbox" name="affichage_tous_ou_filtre_categorie" onClick="javascript:changeFilteringMode('Categories');">
        Filtrer par categorie :

        <div>
 		  	  <select style="width:100%" data-placeholder="" id="optionsAffichageCategories" multiple>
        			{# set a value to detect changes in parent category #}
        			{% set parentId = null %}
        			{% for category in categories %}
          				{% if parentId != category.parent.id %}
            				{% if parentId is not null %}
              					</optgroup>
            				{% endif %}
                 
            				<optgroup label="{{category.parent.label}}">
            				{% set parentId = category.parent.id %}
            			{% endif %}
              			<option value="{{category.id}}">{{category.label}}</option>             
        			{% endfor %}      
       				</optgroup>
      		</select>
        </div>
 		  </div>
    </div>

    <div id="olPanelUL"></div>
    {% include "ProgracqteurWikipedaleBundle:Default:description_new.html.twig" %}
    {% include "ProgracqteurWikipedaleBundle:Default:place_description.html.twig" %}


    <div id="div_dernieres_modifs">
      Dernières modifications
      <div id="div_content_dernieres_modifs">
      </div>
    </div>
  </div>
</div>