<div id="MapAndEditorContener">
	<div id="map">
	</div>

 	<div id="ToolsPanel">

 		<div id="param_carte">

 			<div id="buttonOptionsAffichage" title="Button is to be clicked" onclick="javascript:action_buttonOptionsAffichage();">Options d'affichage</div>

 			<div id="div_options_affichage">

        <input type="checkbox" name="affichage_tous_ou_filtre_type" onClick="javascript:changeFilteringMode('PlaceTypes');">
        Filtrer par type :
        <select style="width:100%" data-placeholder="" id="optionsAffichagePlaceTypes" multiple>
        {% for placetype in placeTypes %}
          <option value="{{placetype.id}}">{{placetype.label}}</option>
        {% endfor %}
        </select>


        <input type="checkbox" name="affichage_tous_ou_filtre_categorie" onClick="javascript:changeFilteringMode('Categories');">
        Filtrer par categorie :

        <div id="">
 		  	  <select style="width:100%" data-placeholder="" id="optionsAffichageCategories" multiple>
        			{# set a value to detect changes in parent category #}
        			{% set parentId = null %}
        			{% for category in categories %}
          				{% if parentId != category.parent.id %}
            				{% if parentId is not null %}
              					</optgroup>
            				{% endif %}
                 
            				<optgroup label="{{category.parent.label}}">
            				{% set parentId = category.parent.id %}
            			{% endif %}
              			<option value="{{category.id}}">{{category.label}}</option>             
        			{% endfor %}      
       				</optgroup>
      		</select>
        </div>
 		  </div>
    </div>

    <div id="olPanelUL"></div>

    	{% include "ProgracqteurWikipedaleBundle:Default:description_new.html.twig" %}

      {% include "ProgracqteurWikipedaleBundle:Default:place_description.html.twig" %}

  </div>
</div>