<div id="MapAndEditorContener">
	<div id="map">
	</div>

 	<div id="ToolsPanel">

    <div id="div_returnNormalMode" title="Button is to be clicked">
      <img src="{{ asset('img/retour.png') }}" style="padding-left:10px"> Retour à la carte globale</div>

 		<div id="param_carte">
 			<div id="buttonOptionsAffichage" class="buttonPlus" title="Button is to be clicked">Filtrer
      les signalements</div>

 			<div id="div_options_affichage">
        <input type="checkbox" name="affichage_tous_ou_filtre_statusCeM">
        Filtrer par couleur :
        <select style="width:100%" data-placeholder="" id="optionsAffichageStatusCeM" multiple>
          <option class="option_grey" value="-1">rejeté (gris)</option>
          <option class="option_white" value="0">pas encore pris en compte (blanc)</option>
          <option class="option_red" value="1">pris en compte (rouge)</option>
          <option class="option_orange" value="2">en cours de résolution (orange)</option>
          <option class="option_green" value="3">résolu (vert)</option>
        </select>

        <!---
        <input type="checkbox" name="affichage_tous_ou_filtre_type">
        Filtrer par type :
        <select style="width:100%" data-placeholder="" id="optionsAffichagePlaceTypes" multiple>
        {% for placetype in placeTypes %}
          <option value="{{placetype.id}}">{{placetype.label}}</option>
        {% endfor %}
        </select>
        -->


        <input type="checkbox" name="affichage_tous_ou_filtre_categorie">
        Filtrer par categorie :

        <div>
 		  	  <select style="width:100%" data-placeholder="" id="optionsAffichageCategories" multiple>
                            {% for category in categories %}
                               {% if category.hasChildren %}
                                     <optgroup label="{{ category.label }}" >
                                        {% for childCategory in category.children %}
                                             <option value="{{ childCategory.id }}">{{ childCategory.label }}</option>
                                        {% endfor %}


                                     </optgroup>

                               {% else %}

                                     <option value="{{ category.id }}">{{ category.label }}</option>
                               {% endif %}

                           {% endfor %}
      		</select>
        </div>
 		  </div>
    </div>

    <div id="add_new_description">
      <div id="div_add_new_description_button" class="buttonPlus" title="Button is to be clicked">
        Ajouter un signalement
      </div>
    </div>

    <div id="olPanelUL"></div>
    {% include "ProgracqteurWikipedaleBundle:Default:add_new_description.html.twig" %}
    {% include "ProgracqteurWikipedaleBundle:Default:place_description.html.twig" %}


    <div id="div_dernieres_modifs">
      <div id="div_title_dernieres_modifs">
        Dernières modifications 
        <a href="{{ path('wikipedale_history_place_by_city', {'citySlug': app.session.get('city').slug, _format:'atom'}) }}">
           <img src="{{ asset('img/rss_w_b.png') }}" alt="Flux RSS" height="14" width="14">
        </a>
      </div>
      <div id="div_content_dernieres_modifs">
      </div>
    </div>
  </div>
</div>