<div id="MapAndEditorContener">
	<div id="map">
	</div>

 	<div id="ToolsPanel">

    <div id="div_returnNormalMode" title="Button is to be clicked" onclick="javascript:map_display.normal_mode();">
      <img src="../img/retour.png" style="padding-left:10px"> Retour à la carte globale</div>

 		<div id="param_carte">
 			<div id="buttonOptionsAffichage" class="buttonPlus" title="Button is to be clicked" onclick="javascript:action_buttonOptionsAffichage();">Filtrer
      les signalements</div>

 			<div id="div_options_affichage">
        <input type="checkbox" name="affichage_tous_ou_filtre_statusCeM" onClick="javascript:changeFilteringMode('StatusCeM');">
        Filtrer par couleur :
        <select style="width:100%" data-placeholder="" id="optionsAffichageStatusCeM" multiple>
          <option class="option_grey" value="-1">rejeté (gris)</option>
          <option class="option_white" value="0">pas encore pris en compte (blanc)</option>
          <option class="option_red" value="1">pris en compte (rouge)</option>
          <option class="option_orange" value="2">en cours de résolution (orange)</option>
          <option class="option_green" value="3">résolu (vert)</option>
        </select>

        <!---
        <input type="checkbox" name="affichage_tous_ou_filtre_type" onClick="javascript:changeFilteringMode('PlaceTypes');">
        Filtrer par type :
        <select style="width:100%" data-placeholder="" id="optionsAffichagePlaceTypes" multiple>
        {% for placetype in placeTypes %}
          <option value="{{placetype.id}}">{{placetype.label}}</option>
        {% endfor %}
        </select>
        -->


        <input type="checkbox" name="affichage_tous_ou_filtre_categorie" onClick="javascript:changeFilteringMode('Categories');">
        Filtrer par categorie :

        <div>
 		  	  <select style="width:100%" data-placeholder="" id="optionsAffichageCategories" multiple>
        			{# set a value to detect changes in parent category #}
        			{% set parentId = null %}
        			{% for category in categories %}
          				{% if parentId != category.parent.id %}
            				{% if parentId is not null %}
              					</optgroup>
            				{% endif %}
                 
            				<optgroup label="{{category.parent.label}}">
            				{% set parentId = category.parent.id %}
            			{% endif %}
              			<option value="{{category.id}}">{{category.label}}</option>             
        			{% endfor %}      
       				</optgroup>
      		</select>
        </div>
 		  </div>
    </div>

    <div id="add_new_description">
      <div id="div_add_new_description_button" class="buttonPlus" title="Button is to be clicked" onClick="javascript:changingModeFunction()">
        Ajouter un signalement
      </div>
    </div>

    <div id="olPanelUL"></div>
    {% include "ProgracqteurWikipedaleBundle:Default:add_new_description.html.twig" %}
    {% include "ProgracqteurWikipedaleBundle:Default:place_description.html.twig" %}


    <div id="div_dernieres_modifs">
      <div id="div_title_dernieres_modifs">Dernières modifications</div>
      <div id="div_content_dernieres_modifs">
      </div>
    </div>
  </div>
</div>