<div id="div_placeDescription" style="display:none;">
  <p class="PointTitle">#<span class="class_span_place_description_id"></span> <span class="class_span_place_description_loc"></span>
  </p>  
  <div class="PointDescription">
    <div id="map_little" style="float:left;display:none;width:190px;height:190px;padding-right:1em;padding-left:1em"></div>

    <input type ="hidden" value="" id="input_place_description_id" />

    <div class="description_element">
      Constat effectué par: <span id="span_place_description_signaleur"></span> 
      <span id="span_place_description_signaleur_contact"></span>
    </div>

    <div class="description_element">
      <span id="span_edit_lon_lat_delete_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <button id="button_edit_lon_lat">Changer l'emplacement sur la carte</button>
      <button id="button_save_lon_lat">Sauvegarder</button>
    </div>

    <div class="description_element">

      Localisation :
      <span id="span_place_description_loc"></span>
      <div id="div_place_description_loc_edit" style="display: none;">
        <input type="text" id="span_place_description_loc_edit"> 
      </div>
      <span id="span_place_description_loc_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_loc_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <div class="description_element">
      Description détaillée :
      <span id="span_place_description_desc"></span>
      <div id="div_place_description_desc_edit" style="display: none;">
        <textarea id="span_place_description_desc_edit"></textarea>
      </div>
      <span id="span_place_description_desc_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_desc_button"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>


    <div class="description_element" id="div_container_place_description_commentaireCeM">
      Commentaire du conseiller en mobilité (CeM) :
      <span id="span_place_description_commentaireCeM"></span>
      <div id="div_place_description_commentaireCeM_edit" style="display: none;">
        <textarea id="span_place_description_commentaireCeM_edit"></textarea>
      </div>
      <span id="span_place_description_commentaireCeM_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_commentaireCeM_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <div class="description_element">
      Categories :
      <span id="span_place_description_cat"></span>
      <div id="div_place_description_cat_edit" style="display: none;">
        <select id="span_place_description_cat_edit" style="width:100%;">
          {# set a value to detect changes in parent category #}
          {% set parentId = null %}
          {% for category in categories %}
            {% if parentId != category.parent.id %}
              {% if parentId is not null %}
                </optgroup>
              {% endif %}
                 
              <optgroup label="{{category.parent.hierarchicalLabel}}">
              {% set parentId = category.parent.id %}
            {% endif %}
              
            <option value="{{category.id}}">{{category.label}}</option>             
          {% endfor %}      
          </optgroup>
        </select>
      </div>
      <span id="span_place_description_cat_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_cat_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <div class="description_element">
      Note du conseiller en mobilité (CeM) :
      <span id="span_place_description_status"></span>
      <div id="div_place_description_status_edit" style="display: none;">
        <select id="span_place_description_status_edit">
          <option class="option_grey" value="-1">rejeté (gris)</option>
          <option class="option_white" value="0">pas encore pris en compte (blanc)</option>
          <option class="option_red" value="1">pris en compte (rouge)</option>
          <option class="option_orange" value="2">en cours de résolution (orange)</option>
          <option class="option_green" value="3">résolu (vert)</option>
        </select>
      </div>
      <span id="span_place_description_status_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_status_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <!-- 
    <p>
      Autres notes :<br />
      <span id="span_place_description_status_other"></span>
    </p>
    -->

    <div class="description_element" style="display:none;">
      Type du signalement :
      <span id="span_place_description_type"></span>
      <div id="div_place_description_type_edit" style="display: none;">
        <select data-placeholder="" id="span_place_description_type_edit">
        {% for placetype in placeTypes %}
          <option value="{{placetype.id}}">{{placetype.label}}</option>
        {% endfor %}
        </select>
      </div>
      <span id="span_place_description_type_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_type_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <div class="description_element">
      Gestionnaire de voirie :
      <span id="span_place_description_gestionnaire"></span>
      <div id="div_place_description_gestionnaire_edit" style="display: none;">
        <select style="width:100%" data-placeholder="" id="span_place_description_gestionnaire_edit">
        {% for mng in managers %}
          <option value="{{mng.id}}">{{mng.name}}</option>
        {% endfor %}
        </select>
      </div>
      <span id="span_place_description_gestionnaire_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <span class="ButtonEdit"><a href="#" id="span_place_description_gestionnaire_button" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"><img src="{{ asset('img/edit.png') }}" title="{{ 'Controls.edit'|trans({}, 'pointMessages') }}"/></a></span>
    </div>

    <div class="description_element">
      <span id="span_place_description_delete_error" style="background:red; display: none;">Erreur, veuillez reéssayer et si le problème persiste le signaler au gracq</span>
      <button id="span_place_description_delete_button" type="button">Ne plus afficher le signalement</button> 
    </div>

    <div>
      <span class="span_photo"></span>
      <a href="#" id="link_add_photo" title="{{ 'display_black_points.add_picture'|trans({}, 'changes') }}">
      <img src="{{asset('img/AddPicture.png')}}" />
      </a>
    </div>

    <div id="div_commentaires_cem_gestionnaire" class="description_element">
      <span class="span_private_comment">Commentaires CeM-gestionnaire de Voirie:<br /></span>
      
      <div id="div_last_private_comment_container"></div>
      <span id="span_plus_de_commenaitres_link"><a id="plus_de_commenaitres_link" href="#" title="">Plus de commentaires &amp; ajout</a></span>

      <div id="div_list_private_comment_container" style="display:none"></div>

      <div id="div_form_commentaires_cem_gestionnaire" style="display:none">
        <form method="post" id="form_add_new_comment">
          <label for="add_new_description_form__description">Votre commentaire :</label>
          <textarea id="form_add_new_comment__text" name="text" rows="5" maxlength="4000" placeholder="Ajoutez ici votre commentaire"></textarea>

          <div id="form_add_new_comment__message"></div>
          <input class="envoi" id="new_comment_form_submit_button" type="submit" value="Soumettre">
        </form>
    </div>
    </div>

    <div id="div_commentaires_public" class="description_element" style="display:none">
      <span class="span_public_comment">Commentaires public:<br /></span>
      
      Sed quis bibendum tellus. Aliquam ante ante, interdum vitae tincidunt sit amet, tempor vitae nulla.
      Sed a lorem lectus, ut ultrices magna. Nullam scelerisque aliquet erat, quis suscipit sem egestas sed. 
      Suspendisse dui quam, imperdiet vitae consectetur non, euismod sit amet quam. Proin tempor sapien viverra 
      nunc vulputate et euismod quam rutrum. Curabitur ante massa.<br />
      <a href="javascript:comments_mode();" title="">Plus de commentaires &amp; ajout</a>
    </div>

  </div>
</div>
