{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{# 
Les valeurs qui sont passées à cette vue sont les suivantes : 
* place : la place recherchée, instance de Entity\Model\Place

#}

{% block body %}

<script language="javascript"> 
  <!--
      $(document).ready(function(){
          view_place({{place.geom.lon}}, {{place.geom.lat}});
	  });
  // -->
</script>

<div id="map" style="width:400px; height:400px; float:left;"  class="smallmap"></div>

<div style="float:left;">
   <p>Description de la place {{place.id}} : {{ place.description }}</p>
   <p>Endroit : Latitude : {{place.geom.lat}} Longitude : {{place.geom.lon}}</p>
</div>

{% endblock %}
