





    


    <div class="fos_user_user_show " >
       <div> 
        <dl>
            <dt>{{ 'profile.show.username'|trans({}, 'userMessages') }}</dt>
            <dd>{{ user.username }}</dd>
            <dt>{{ 'profile.show.email'|trans({}, 'userMessages') }}</dt>
            <dd>{{ user.email }}</dd>


        <dt>{{ 'profile.show.label'|trans({}, 'userMessages') }}</dt>
            <dd>{{ user.label }}</dd>
        <dt>{{ 'profile.show.phonenumber'|trans({}, 'userMessages') }}</dt>
            <dd>{{ user.phonenumber }}</dd>
        </dl>
            
        <a class="action update" href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
       </div>

    </div>
        

