<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}Uello{% endblock %}</title>
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('OpenLayers/OpenLayers.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/wsse.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/user.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>

        <script src="{{ asset('js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <link rel="stylesheet"  href="{{ asset('css/colorbox.css') }}" type="text/css"/>

        <script  src="{{ asset('js/dhtmlxcommon.js') }}" type="text/javascript"></script>
        <script  src="{{ asset('js/dhtmlxcombo.js') }}" type="text/javascript"></script>
        
        {% block javascript %}
        
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/dhtmlxcombo.css') }}" type="text/css"/>

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>
        <div id="logo">

        </div>
            
        <div id="connexion">
            {% if app.session.get('city') %}
                <span id="VilleActuelle">{{app.session.get('city').name}} <a href="{{path('wikipedale_reset_city')}}">Sélectionner une autre ville</a> | </span>
            {% endif %}
            
            {% if app.user %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'messages') }}
            {% else %}
               <!-- <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'messages') }}</a> -->
                <a class ="connexion" href="#login_user_form_div">{{ 'layout.login'|trans({}, 'messages') }}</a>
            {% endif %}
                &nbsp;|&nbsp;
            {% if app.user %}
                <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'messages') }}</a>
                &nbsp;|&nbsp;
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'messages') }}</a>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'messages') }}</a>
            {% endif %}
        </div>
            
        <div id="body">

            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            
            {% block zoneMenu %}{% endblock %}

            {% block body %}Rien dans le body...{% endblock %}
        </div>
            

 
            <div id="PiedDePage">
                <a href="{{path('wikipedale_about')}}">À propos de Uello</a> - 
                <a href="#">Aide</a> - 
                <a href="#">Contact</a>
            </div>
    </body>
</html>
