<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}Uello{% endblock %}</title>
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('js/wsse.js') }}" type="text/javascript"></script>
        <script data-main="{{ asset('js/app.js') }}" src="{{ asset('js/require.js') }}"></script>


        <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('js/lib/select2-3.3.2/select2.css') }}" type="text/css"/>

        {% block javascript %}
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/forms.css') }}" type="text/css"/>
        
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>

        <!-- Écran de connexion -->
    <div style='display:none'>
        <div id='login_form_div'>
            <b><font color="red"><span id='login_message'></span></font></b><br />
            <form method="post" action="" id="loginForm">
                <p><label for="login_input_username">{{ 'security.login.username'|trans({}, 'userMessages') }}</label>
                <input type="text" id="login_input_username" name="username"/></p>

                <p><label for="login_input_password">{{ 'security.login.password'|trans({}, 'userMessages') }}</label>
                <input type="password" id="login_input_password" name="password"/></p>

                <input class="envoi" type="submit" id="login_input_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'userMessages') }}" />
            </form>

            <div style="clear:both;"></div>
            <p><a href="{{ path('fos_user_registration_register') }}">{{ 'security.login.go_to_registration'|trans({}, 'userMessages') }}</a><br />
            <a href="{{path('fos_user_resetting_request') }}">{{ 'security.login.go_to_password_resetting'|trans({}, 'userMessages') }}</a></p>
        </div>
    </div>

        <div id="ConnectionBar">
            <a href="{{path('wikipedale_homepage')}}"><span id="LienAccueil"></span></a>
            
            {% if mainCities is defined %}
                <select id="CitiesSelection" onchange="location = this.options[this.selectedIndex].value;">
                {% if app.session.get('city') %}
                    <option><span style="color:red;">{{app.session.get('city').name}}</span></option>
                {% else %}
                    <option>Sélectionner une ville</option>
                {% endif %}
                    {% for city in mainCities %}
                    <option value="{{ path('wikipedale_to_city', {'citySlug': city.slug})}}">{{city.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
               
            <span id="menu_user_name" {% if not app.user %} style="display:none" {% endif %}>
                <img src="{{asset('img/icons/user.png')}}" />
                <a href="{{ path('fos_user_profile_show') }}" title="{{ 'layout.profile'|trans({'%username%': ''}, 'messages') }}">{{ 'layout.logged_in_as'|trans({'%username%': ''}, 'messages') }} <span class="username" style="font-weight: bold;">{% if app.user %} {{app.user.label}} {% endif %}</span></a>
            </span>

            <span id="menu_connexion" {% if app.user %} style="display:none" {% endif %}>
                <img src="{{asset('img/icons/login.png')}}" />
                <a class ="connexion" href="#login_form_div">{{ 'layout.login'|trans({}, 'messages') }}</a>
            </span>

            <span id="menu_logout" {% if not app.user %} style="display:none" {% endif %}>
                <img src="{{asset('img/icons/logout.png')}}" />
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'messages') }}</a>
            </span>

            <span id="menu_register" {% if app.user %} style="display:none" {% endif %}>
                <img src="{{asset('img/icons/user.png')}}" />
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'messages') }}</a>
            </span>
                <img src="{{asset('img/icons/home.png')}}" />
                <a href="{{path('wikipedale_reset_city')}}">{{ 'layout.home'|trans({}, 'messages') }}</a>
        </div>

        
            
        <div id="body">

            {% if app.session.flashbag.has('notice') %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% endif %}
            
            {% block zoneMenu %}{% endblock %}

            {% block body %}Rien dans le body...{% endblock %}
        </div>
            

 
            <div id="PiedDePage">
                <a href="{{path('wikipedale_about')}}">À propos de Uello</a> - 
                <a href="http://blog.uello.be/?page_id=32" target="blank">Aide</a> - 
                <a href="mailto:uello@gracq.be">Contact</a>
            </div>
                <div id="logos">
                    <a href="http://www.gracq.be"><img src="{{ asset('img/logos/logo_gracq.png') }}" /></a>
                    <a href="http://mobilite.wallonie.be"><img src="{{ asset('img/logos/logo_WallonieCyclable.jpg') }}" /></a>
                </div>

    </body>
</html>
