<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}Uello{% endblock %}</title>
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('OpenLayers/OpenLayers.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/wsse.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/user.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/affichage.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/form_informer.js') }}" type="text/javascript"></script>

        <link href="{{ asset('select2-3.3.1/select2.css') }}" rel="stylesheet"/>
        <script src="{{ asset('select2-3.3.1/select2.js') }}"></script>

        <script src="{{ asset('chosen/chosen.jquery.js') }}" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ asset('chosen/chosen.css') }}" />

        <script src="{{ asset('js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <link rel="stylesheet"  href="{{ asset('css/colorbox.css') }}" type="text/css"/>

        <script  src="{{ asset('js/dhtmlxcommon.js') }}" type="text/javascript"></script>
        <script  src="{{ asset('js/dhtmlxcombo.js') }}" type="text/javascript"></script>

        <script language="javascript"> 
            <!--
            $.ajaxSetup({ cache: false }); // IE save json data in a cache, this line avoids this behavior
            -->
        </script>

        {% block javascript %}
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
        <link rel="stylesheet"  href="{{ asset('css/dhtmlxcombo.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css"/>
        
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>

        <div id="connexion">
            {% if app.session.get('city') %}
                <span class="VilleActuelle">{{app.session.get('city').name}}</span> 
                <span id="VilleActuelleRSS"><a href="{{ path('wikipedale_history_place_by_city',
                        {'citySlug': app.session.get('city').slug, _format: 'atom'})}}">
                               <img id="VilleActuelleRSSIcon" src="{{ asset('img/rss_w_b.png') }}"></span>
               <span class="VilleActuelle"><a href="{{path('wikipedale_reset_city')}}">Sélectionner une autre ville</a> </span>
            {% endif %}
               
            <span id="menu_user_name" {% if not app.user %} style="display:none" {% endif %}>
                | <img src="{{asset('img/utilisateur.png')}}" />
                <a href="{{ path('fos_user_profile_show') }}" title="{{ 'layout.profile'|trans({'%username%': ''}, 'messages') }}">{{ 'layout.logged_in_as'|trans({'%username%': ''}, 'messages') }} <span class="username" style="font-weight: bold;">{% if app.user %} {{app.user.label}} {% endif %}</span></a>
            </span>

            <span id="menu_connexion" {% if app.user %} style="display:none" {% endif %}>
                |  <a class ="connexion" href="#login_form_div">{{ 'layout.login'|trans({}, 'messages') }}</a>
            </span>

            <span id="menu_logout" {% if not app.user %} style="display:none" {% endif %}>
                |  <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'messages') }}</a>
            </span>

            <span id="menu_register" {% if app.user %} style="display:none" {% endif %}>
                |  <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'messages') }}</a>
            </span>
                |  <a href="{{path('wikipedale_homepage')}}">{{ 'layout.home'|trans({}, 'messages') }}</a>
        </div>

        
            
        <div id="body">

            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            
            {% block zoneMenu %}{% endblock %}

            {% block body %}Rien dans le body...{% endblock %}
        </div>
            

 
            <div id="PiedDePage">
                <a href="{{path('wikipedale_about')}}">À propos de Uello</a> - 
                <a href="#">Aide</a> - 
                <a href="#">Contact</a>
            </div>
                <div id="logos">
                    <a href="http://www.gracq.be"><img src="../img/logos/logo_gracq.png" /></a>
                    <a href="http://mobilite.wallonie.be"><img src="../img/logos/logo_WallonieCyclable.jpg" /></a>
                </div>

    </body>
</html>
