<!DOCTYPE html> 
<html>
    <head>
        <title>Wikipedale | {% block title %}Titre par défaut{% endblock %}</title>
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="{{ asset('OpenLayers/OpenLayers.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-1.7.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/wsse.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/user.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>

        <script src="{{ asset('js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <link rel="stylesheet"  href="{{ asset('css/colorbox.css') }}" type="text/css"/>

        <script  src="{{ asset('js/dhtmlxcommon.js') }}" type="text/javascript"></script>
        <script  src="{{ asset('js/dhtmlxcombo.js') }}" type="text/javascript"></script>
        
        {% block javascript %}
        
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/dhtmlxcombo.css') }}" type="text/css"/>


        <style type="text/css">
           

           
           div.flash-notice {
               background-color: rgba(68,68,221,0.65);
               color: white;
               font-weight: bold;
               box-shadow: 2px 2px 3px rgba(68,68,221,0.45), -2px -2px 3px rgba(68,68,221,0.45);
               text-align: center;
               paddding: 15px;
               margin-left: 50px;
               margin-right: 50px;
               }
        </style>

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}
        
    </head>
    <body>
        <div id="logo">

        </div>
            
        <div id="connexion">
            {% if app.session.get('city') %}
                <span id="VilleActuelle">{{app.session.get('city').name}} <a href="{{path('wikipedale_reset_city')}}">Sélectionner une autre ville</a> | </span>
            {% endif %}
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
               <!-- <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> -->
                <a class ="connexion" href="#login_user_form_div">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                &nbsp;
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
            
        <div id="body">

            {% if app.session.hasFlash('notice') %}
                <div class="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
            
            

            {% block body %}Rien dans le body...{% endblock %}
        </div>
 
            <div id="PiedDePage">
                <a href="#">À propos de...</a> - 
                <a href="#">Aide</a> - 
                <a href="#">Contact</a>
            </div>
    </body>
</html>
