{% extends 'ProgracqteurWikipedaleBundle::layout.atom.twig' %}

{#
  The parameters passed to this template are the following : 

* title title of the feed
* subtitle descrption of the feed
* urlFeed : url of the feed
* tracks: the placeTracking instances 
* toTextService : the service which transforme placeTracking into text. See in service config : progracqteur.wikipedale.place.tracking.toText


#}

{% block id %}urn:uuid:90379151-653f-4e7e-9552-806217b62713{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block subtitle %}{{subtitle}}{% endblock %}

{% block linkself %}{{ urlFeed }}{% endblock %}

{% block entries %}
    {% for track in tracks %}
      <entry>
       <title>{{track.place.label}}</title>
       <id>tag:wikipedale.org,{{track.date|date("Y-m-d")}}:/{{track.id}}</id>
       <link href="{{ url('wikipedale_homepage', {id : track.place.id}) }}" title="Voir l'emplacement dans sa forme actuelle" />
       <updated>{{ track.date|date("Y-m-d\\TH:i:sP" ) }}</updated>
       <author>
           <name>{{track.author.label}}</name>
       </author>
       <georss:point>{{ track.place.geom.lat }} {{track.place.geom.lon}}</georss:point>
       <content type="html">{{ toTextService.toText(track)}}</content>
     </entry>
    {% endfor %}
{% endblock %}
